/* var.css */
:root {
	--vp-c-brand-1: #18794e;
	--vp-c-brand-2: #299764;
	--vp-c-brand-3: #30a46c;
	--vp-custom-block-tip-bg: var(--vp-c-green-soft);
}

.dark {
	--vp-c-brand-1: #3dd68c;
	--vp-c-brand-2: #30a46c;
	--vp-c-brand-3: #298459;
}

h1 {
	background: -webkit-linear-gradient(0deg, #ff00d4, #3700ff, #ffcc00, #ff0066);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
/* 提示框 */
.custom-block.tip {
	border-color: var(--vp-c-green-2);
}

/* 警告框 */
.custom-block.warning {
	/* border-color: #d97706; */
	border-color: var(--vp-c-yellow-2);
}

/* 危险框 */
.custom-block.danger {
	/* border-color: #f43f5e; */
	border-color: var(--vp-c-red-2);
}
.vp-doc blockquote {
	border-radius: 5px;
	padding: 10px 16px;
	background-color: var(--vp-badge-danger-bg);
	position: relative;
	border-left: 4px solid #e95f59;
}

.medium-zoom-overlay {
	z-index: 20;
}

.medium-zoom-image {
	z-index: 9999 !important; /* 给的值是21，但是实测盖不住，直接999 */
}

/* @media (min-width: 1440px) {
	.VPSidebar[data-v-6750ea26] {
		padding-left: max(32px, calc((100% - (var(--vp-layout-max-width) - -185px)) / 2));
		width: calc((100% - (var(--vp-layout-max-width) - 64px)) / 2 + var(--vp-sidebar-width) - 266px);
	}
	.VPNavBar.has-sidebar .title[data-v-cf6e7c5e] {
		padding-left: max(32px, calc((100% - (var(--vp-layout-max-width) - -185px)) / 2));
		width: calc((100% - (var(--vp-layout-max-width) - 64px)) / 2 + var(--vp-sidebar-width) - 266px);
	}
} */
